{% comment %} <h1 class="display-6">{{ title }}</h1> {% endcomment %}

{% for booking in bookings %}
    <div class="card border-secondary">
    <div class="card-header">
        {{ booking.account.name }}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ booking.room_id }}</h5>
        <p class="card-text">
            <b>From:</b> {{ booking.start|date:"M d, Y g:m A" }} <br>
            <b>To:</b> {{ booking.end|date:"M d, Y g:m A"}} <br>
            <b>Room:</b> {{ booking.room_id }} <br>
            <b>Status:</b>
            {% if booking.rejected %} Rejected 
            {% elif booking.approved %} Approved 
            {% else %} Pending Approval 
            {% endif %}
        </p>
    </div>
    <div class="card-footer text-muted">
        {% if user.is_admin %}
            <a href="/bookings/approve/{{booking.id}}" style="color: rgb(117, 117, 117);">
                <i class="fas fa-check font-awesome"></i>
            </a>
            <a href="/bookings/reject/{{booking.id}}" style="color: rgb(117, 117, 117);">
                <i class="fas fa-times font-awesome"></i>
            </a>
        {% endif %}
        {% if user == booking.account or user.is_admin %}
            <a href="/bookings/delete/{{booking.id}}" style="color: rgb(117, 117, 117);">
                <i class="fas fa-trash font-awesome"></i>
            </a>
        {% endif %}
    </div>
    </div>
{% endfor %}